{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<section id="register" class="register-image">
<div class="gen-container lrg-container">
  
      <h2>{% trans "Register" %}</h2>

      <p>{% blocktrans %}Already have an account? Click
        <a href="{{ login_url }}">here</a> to Log in.{% endblocktrans %}</p>
   

  
      <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-success btn-lg" type="submit">{% trans "Sign Up" %} &raquo;</button>
      </form>
   
</div>
</section>

{% endblock %}