@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap');

body {
    font-family: Castoro Titling, sans-serif;
    color: #DAA520;
    min-height: 100vh;
    
    flex-direction: column;
    background-image: url('../images/roses.jpg');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

.navbar{
    background-color: #32863A;
}


.navbar-collapse {
    text-align: right;
    padding-right: 5px;
}

.short-logo {
    color: #DAA520;
    float: left;
    font-size: 280%;
    margin-left: 1.2vw;
    line-height: 13vh;
    width: 60vw;
}

.gen-container {
    border: 1px solid #daa520;
    background: rgba(152, 69, 161, 0.9);
    text-align: center;
    width: 50%;
    margin-top: 15%;     
}

.sml-container {
    padding-top: 4%;
    margin-left: 10%;
    height: 50%;
    width: 80%;
}

.lrg-container {
    margin-left: 25%;
    margin-top: 5%;
    padding: 2%;
    padding-left: 4%;
    text-align: left;
}

.logout-container {
    padding-bottom: 4%;
}

.reservation_form {
    border: 1px solid #DAA520;
    padding: 3%;
    margin-left: 30%;
}

.my_reservation_container {
    color:#8c3a8d;
    border: 1px solid #daa520;
    background: rgba(238, 238, 238, 0.7);
    text-align: center;
    width:100vw;
}

.row {
    margin-left: 10%;
}

footer {
    background-color: #ceafdb;
    width: 100%;
    height: 9vh;
    text-align: center;
}

.fa {
    width: 60px;
    text-align: center;
    text-decoration: none;
    color: #5f4e23;
}

/* a hover effect*/
.fa:hover {
    opacity: 0.7;
}

@media screen and (max-width: 950px) {
    h2, h3, h4 {
        font-size: 17px; 
        padding: 10px;
    }
    input {
        font-size: 12px;
    }
    .form_size > p {
        font-size: 12px;
    }
    
    .col-md-5 {
        width: 90%;
        margin-left: 5%;
    }
    .lrg-container {
        width: 90%;
        margin-left: 5%;
        margin-top: 10%;
    }
    .sml-container {
        padding-top: 4%;
        width: 80%;
        margin-left: 10%;
        height: 100%;
    }
    
}


@media screen and (max-width: 400px) {
    h5 {
      font-size: 17px;
    }
    h6 {
        font-size: 16px;
    }
    
    .my_reservation_container > p {
        font-size: 15px;
    }
}
