{% extends "base.html" %}

{% block content %}

<section id="reservation" class="book_a_table">
    <div class="my_reservation_container">
        <h2 class="stroke">My Reservations:</h2>
        <p class="stroke">To edit or cancel a
            reservation please click on the buttons below.</p>
        <div class="row">
            {% for reservation in reservations %}
            <div class="col-md-5">
                <div class="card mb-5">
                    <div class="card-body">
                        <h5 class='card-title text-uppercase text-center'>{{ reservation.name }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ reservation.date }} at
                            {{ reservation.time }}</h6>
                        <div class='card-text'>
                            <p>Group Size: {{ reservation.group_size }}</p>
                        </div>
                        <a href="/edit_reservations/{{reservation.id}}" class="btn btn-success">Edit</a>
                        <a href="/delete_reservation/{{reservation.id}}" class="btn btn-success">Cancel</a>
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
</section>




{%endblock%}