{% extends "base.html" %}

{% block content %}

<section id="reservation" class="book_a_table">
    <div class="reservation_container">
        <div class="row">
            <div class="col-md-3 mt-5 offset-md-3">
                <div>
                    <h5 class="stroke">Sign up now to receive our weekly offers!</h5>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    {{form.as_p}}

                    <button id="submit-button" class="btn btn-success">Sign Up</button>
                </form>
            </div>
        </div>
    </div>
</section>


{%endblock%}